body {
    background-color: blanchedalmond;
}

#dummy {
    color: blanchedalmond;
}

h1 {
    text-align: center;
}

.app {
    width: 95%;
    overflow: hidden;
}

.editor {
    background-color: beige;
    min-height: 500px;
    width: 50%;
    margin: auto;
    float: left;
}

.console {
    color: green;
    min-height: 500px;
    width: 49%;
    background-color: black;
    float: right;
}

#code {
    font-size: 14px;
    font-family: Monospaced, monospace;
    resize: none;
    width: 100%;
    min-height: 500px;
}

.suggestions {
    font-size: 14px;
    font-family: Monospaced, monospace;
    position: absolute;
    z-index: 99;
    border: 1pt solid black;
    background-color: lightblue;
    height: auto;
    width: auto;
}

.highlight {
    font-weight: bold;
    color: red;
}

textarea,
pre {
    -moz-tab-size : 4;
    tab-size : 4;
}