body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

.editor {
    background-color: beige;
}

.app {
    width: 90%;
    overflow: hidden;
}

.editor {
    min-height: 500px;
    width: 50%;
    margin: auto;
    float: left;
}

.console {
    color: green;
    min-height: 500px;
    width: 49%;
    background-color: black;
    float: right;
}

#code {
    position: relative;
    resize: none;
    width: 100%;
    min-height: 500px;
}

.suggestions {
    position: absolute;
    border: 1pt solid black;
    background-color: red;
}